.vscode/**
.vscode-test/**
.gitignore
.yarnrc
.gitlab-ci.yml
vsc-extension-quickstart.md
src/**
**/tsconfig.json
**/tsconfig.test.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
jest.config.js
junit-unit.xml
coverage/**
report/**
out/test/**
assets/**
